data_source/
.vscode
.idea
backend/query.log
warehouse/docker/hdfs/
warehouse/docker/neo4j/data/
warehouse/docker/neo4j/logs/
warehouse/docker/opengauss/data/
warehouse/docker/hadoop-3.3.5.tar.gz
warehouse/docker/spark-3.5.7-bin-hadoop3-scala2.13.tgz

__pycache__/
